{% extends "base.html" %}
{% block content %}

    <h2>Device {{ device.mac_address }}</h2>

    <p class="lead">
        This device was last seen: {{ device.last_seen }} <br>
        Claimed by: {{ device.owner }}
    </p>

    {% if current_user.is_authenticated %}
        <form action="" method="post">
            <button name="action" id="action" value="claim" type="submit"
                    class="btn btn-outline-primary">claim
            </button>
        </form><form action="" method="post">
            <button name="action" id="action2" value="unclaim" type="submit"
                    class="btn btn-outline-primary">unclaim
            </button>
        </form>
    {% endif %}

{% endblock %}
