<nav class="navbar navbar-dark bg-dark"
     style="font-family: monospace !important; margin-top: auto;">
    <div class="container">
        <nav class="nav">
            <a class="nav-link text-light" href="{{ app.home_url }}">home</a>
            <a class="nav-link text-light" href="{{ app.wiki_url }}">wiki</a>
            <a class="nav-link text-light" href="{{ app.repo_url }}">repo</a>
        </nav>
        <nav class="nav justify-content-end">
            <a class="nav-link disabled" href="#">{{ app.name }} {{ app.version }}</a>
        </nav>
    </div>
</nav>
