{#    <nav class="navbar navbar-dark bg-dark" style="font-family: monospace !important;#}
{#            margin-top: auto;">#}
{#        <div class="container">#}
{#            <ul class="navbar-nav mr-auto">#}
{#                <li class="nav-item">#}
{#                    <a class='nav-link' href="//wiki.hs3.pl/projekty/whois">wiki</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class=' nav-link' href="https://github.com/hs3city/whois">repo</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class='nav-link' href="//hs3.pl">home</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}
<nav class="navbar navbar-dark bg-dark"
     style="font-family: monospace !important; margin-top: auto;">
    <div class="container">
        <nav class="nav text-white">
            <a class="nav-link" href="//hs3.pl">home</a>
            <a class="nav-link" href="//wiki.hs3.pl/projekty/whois">wiki</a>
            <a class="nav-link" href="//github.com/hs3city/whois">repo</a>
        </nav>
    </div>
</nav>
