<nav class="navbar navbar-dark bg-dark"
     style="font-family: monospace !important; margin-top: auto;">
    <div class="container">
        <nav class="nav">
            <a class="nav-link text-light" href="//hsp.sh/">home</a>
            <a class="nav-link text-light" href="//wiki.hsp.sh/whois">wiki</a>
            <a class="nav-link text-light" href="//github.com/hspsh/whois">repo</a>
        </nav>
        <nav class="nav justify-content-end">
            <a class="nav-link disabled" href="#">{{ version }}</a>
        </nav>
    </div>
</nav>
