{% extends "base.html" %}
{% macro claim_btn(mac_address) %}
    <form action="/device/{{ mac_address }}" method="post">
        <button type="submit" name="action" value="claim"
                class="btn btn-sm btn-outline-primary">claim
        </button>
    </form>
{% endmacro %}
{% macro unclaim_btn(mac_address) %}
    <form action="/device/{{ mac_address }}" method="post">
        <button type="submit" name="action" value="unclaim"
                class="btn btn-sm btn-outline-danger">unclaim
        </button>
    </form>
{% endmacro %}
{% macro device_row(mac_address, hostname, last_seen, owner) -%}
    <tr>
        <td>
            <a href="/device/{{ mac_address }}">{{ mac_address }}</a>
        </td>
        <td>{{ hostname }}</td>
        <td>{{ owner }}</td>
        <td>{{ last_seen.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
{%- endmacro %}

{% block content %}
    <h2>Status</h2>
    <p class="lead">
        There are {{ users|length }} carbon-based lifeforms in HS
        according to our measurements.
    </p>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
        <h2>Recent unclaimed devices</h2>
        <table class="table">
            {% set header_row -%}
            <tr>
                <th>MAC</th>
                <th>hostname</th>
                <th>ownership</th>
                <th>last seen</th>
            </tr>
            {%- endset %}
            {{ header_row }}
            {% for device in devices['unclaimed'] -%}
                {{ device_row(device.mac_address, device.hostname, device.last_seen,owner=claim_btn(device.mac_address)) }}
            {%- endfor %}
            <tr>
                <th>
                    <h2>My devices</h2>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {{ header_row }}
            {% for device in devices['mine'] -%}
                {{ device_row(device.mac_address, device.hostname, device.last_seen, owner=unclaim_btn(device.mac_address)) }}
            {%- endfor %}
        </table>
    {% endif %}

{% endblock %}
