{% extends "base.html" %}
{% block content %}
    <h2>Status</h2>
    <p class="lead">
    There are {{ user|length }} people in HS.
    </p>
    <ul>
    {% for user in users %}
        <li>{{ user.display_name }}</li>
    {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
    Hi {{ current_user.login }}!
    <h2>Recent unclaimed devices</h2>
    <table class="table">
        <tr>
          <th>MAC</th>
          <th>hostname</th>
          <th>ownership</th>
          <th>last seen</th>
        </tr>
    {% for dev in devices['unclaimed'] %}
        <tr>
            <td>
            <a href="/device/{{ dev.mac_addr }}">{{ dev.mac_addr }}</a>
            </td>
            <td></td>
            <td>
            <form action="/device/{{ dev.mac_addr }}" method="post">
              <button type="submit" name="action" value="claim" class="btn btn-sm btn-outline-primary">claim</button>
            </form>
            </td>
            <td>{{ dev.last_seen }}</td>
        </tr>
    {% endfor %}
    </table>
    <h2>My devices</h2>
    <table class="table">
        <tr>
          <th>MAC</th>
          <th>hostname</th>
          <th>ownership</th>
          <th>last seen</th>
        </tr>
    {% for dev in devices['mine'] %}
        <tr>
            <td>
            <a href="/device/{{ dev.mac_addr }}">{{ dev.mac_addr }}</a>
            </td>
            <td></td>
            <td>
            <form action="/device/{{ dev.mac_addr }}" method="post">
              <button type="submit" name="action" value="unclaim" class="btn btn-sm btn-outline-danger">unclaim</button>
            </form>
            </td>
            <td>{{ dev.last_seen }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

{% endblock %}
