{% extends "base.html" %}
{% block content %}
    <div class="card-columns">
        <div class="card text-white bg-primary">
            <div class="card-body">

                <span style="font-size: 3rem">{{ headcount }} {{ {0:'osób', 1:'osoba', 2:'osoby', 3:'osoby', 4:'osoby'}[headcount]|default('osób') }}</span><br>
                w Hackerspace
            </div>
        </div>
        {% if headcount == 1 %}
            <div class="card">
                <img class="card-img" src="https://i.imgur.com/KFicjPn.jpg"
                     alt="">
            </div>
        {% endif %}
        {% if unknowncount > 0 %}
            <div class="card text-black border-primary">
                <div class="card-body">
                    <span style="font-size: 1.6rem">{{ unknowncount | default(0) }} nieznanych urządzeń</span><br>
                    <a class="btn btn-outline-primary" href="/login">Zajmij
                        je</a>
                </div>
            </div>
        {% endif %}
        {% if headcount > 0 %}
            <div class="card text-black">
{#                <div class="card-header">#}
{#                    Na miejscu#}
{#                </div>#}
                    <ul class="list-group">
                        {% for user in users %}
                            <li class="list-group-item">@{{ user }}</li>
                        {% endfor %}
                    </ul>
            </div>
        {% endif %}
        <div class="card text-black">
            <div class="card-body">
                Komenda na Slacku <kbd>/ktohakuje</kbd><br>
                Więcej instrukcji na <a href="https://wiki.hs3.pl/projekty/whois">stronie wiki</a>
            </div>
        </div>
    </div>
{% endblock %}