{% extends "base.html" %}
{% block header %}
<nav class="nav">
    <a class="navbar-brand" href="/">{{ self.title() }}</a>
</nav>
{% endblock %}
{% block content %}
<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    {% block card %}
    <h2>Please login</h2>
      <br>
    <form action="" method="post">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Username" name="username" value="{{request.form.username }}">
      </div>
        <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
        </div>
        <div class="form-group">
      <input class="btn btn-primary btn-block" type="submit" value="Login">
        </div>
    </form>
    <a href="/register" class="card-link">Don't have account? <b>Register</b></a>
    {% endblock %}
  </div>
</div>
{% endblock %}

