<footer class="std-hs navbar navbar-default navbar-bottom" style="background: black;
        padding: 2em 0;
        text: white !important;
        font-family: monospace !important;">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>
            <ul>
                <li><a href="//hs3.pl">home</a></li>
                <li><a href="//wiki.hs3.pl">wiki</a></li>
                <li><a href="https://patronite.pl/hs3">donate</a></li>
            </ul>
            <ul>
                <li><a href="https://github.com/hs3city">github</a></li>
                <li><a href="https://www.meetup.com/hs3city/">meetup</a></li>
                <li><a href="https://www.facebook.com/hackerspacetrojmiasto/">facebook</a></li>
            </ul>
            </p>
        </div>
        <div class="col-sm-6">
            <p>about</p>
            <p>serwis powstał z potrzeby informowania członków kto aktualnie znajdue się w naszej przestrzeni.</p>
        </div>
        <div class="col-sm-12">
            <p>hacker:space trójmiasto 2017-2018</p>
        </div>
    </div>
    </div>
</footer>